
{% extends '_base.html' %}
{% block content %}

<div class="row mt-5">

  <div class="col-lg-3">

  </div>

  <div class="col-lg-6">

    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 box-shadow">

        {% if not code %}
        <form method="POST" action="{{url_for('create')}}">
          <div class="card-body">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter the message" name="msg">
              </div>
              {% if 'username' in session %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Password" name="password">
              </div>
              {% else %}
              <div class="form-group">
                <input type="text" disabled class="form-control" placeholder="Login to be able to add password to message">
              </div>
              {% endif %}
            <button type="submit" class="btn btn-lg btn-block btn-primary">Make Anonymous Lee</button>
          </div>
        </form>
        {% else %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>ATTN!</strong> Your message has been created. You can copy the link below.
          <br/>The link is available for a <strong> one time view</strong>
        </div>
          http://127.0.0.1:5000/r/{{code}}
        {% endif %}

      </div>


    </div>

  </div>


  <div class="col-lg-3">

  </div>



</div>

{% endblock content %}
