
{% extends '_base.html' %}
{% block content %}

<div class="row mt-5">

  <div class="col-lg-3">

  </div>

  <div class="col-lg-6">

    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 box-shadow">

        {% if not code %}
        <form method="POST" action="{{url_for('create')}}">
          <div class="card-body">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter the message" name="msg">
              </div>
              {% if 'username' in session %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Password" name="password">
              </div>
              {% else %}
              <div class="form-group">
                <input type="text" disabled class="form-control" placeholder="Login to be able to add password to message">
              </div>
              {% endif %}
            <button type="submit" class="btn btn-lg btn-block btn-primary">Make Anonymous Lee</button>
          </div>
        </form>
        {% else %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>ATTN!</strong> Your message has been created. You can copy the link below.
          <br/>The link is available for a <strong> one time view</strong>
        </div>

        <span id="" class="badge badge-secondary mr-5 ml-5 mb-3">

            <input class="form-control"  type="text" value="http://127.0.0.1:5000/r/{{code}}" id="message_url">

        </span>

        <button id="copy_button" onclick="copyToClipboard()">Copy to clipboard</button>

        <span id="response"class="badge badge-secondary mr-5 ml-5 mb-3">

        </span>

        {% endif %}


      </div>


    </div>

  </div>


  <div class="col-lg-3">

  </div>



</div>

<script>
function copyToClipboard() {
  var message_url = document.getElementById("message_url");
  message_url.select();
  message_url.setSelectionRange(0, 99999)
  document.execCommand("copy");
  response_container = document.getElementById("response");
  response.innerHTML = "Copied to clipboard";
  button = document.getElementById("copy_button");
  button.remove();
}
</script>

{% endblock content %}
